USE_REMOTE_DB=false
DB_KEY_ID="aws credentials key id, not needed if running dynamodb locally"
DB_KEY="aws credentials key, not needed if running dynamodb locally"
SENTRY_DSN="your sentry dsn"
SENTRY_AUTH_TOKEN="your sentry auth token, used in build phase"
SENTRY_ORG="your sentry organization"
SENTRY_PROJECT="your sentry project"
SENTRY_REPO="your sentry repo"
